@import './Vars.scss';
@import './Media.scss';

body {
  margin: 0px;
  background-color: $main-color;
  font-family: $theme-font;
}
body::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}